body {
    margin: 25px 0 0 25px;
    font-family: sans-serif;
}

table, th, td {
    margin : 15px;
    border-collapse : collapse;
    border : 1px solid black;
    resize: both;
}

table {
    min-width : 250px;
    min-height : 30px;
    resize: both;
}

td {
    height : 50px;
}